<%= form_for(@face) do |f| %>
  <% if @face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@face.errors.count, "error") %> prohibited this face from being saved:</h2>

      <ul>
      <% @face.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fb_id %><br />
    <%= f.text_field :fb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
